{%extends "base.jinja" %}

{% block title %} Página principal {% endblock %}

{% block body %}

{% for log in logs:%}

<div class="bg-white rounded-lg p-3">
    <p class="break-words">{{log.timestamp}} <strong>//</strong> {{log.email}} <strong>//</strong> {{log.caducidad}} <strong>//</strong> {{log.tokenId}}</p>
</div>
<hr class="my-3">

{%endfor%}


{% endblock %}