{%extends "base.jinja" %}

{% block title %} Búsqueda de publicaciones {% endblock %}

{% block body %}

{% for entity in entities_list:%}

{%include "components/card.jinja"%}

{%endfor%}

{% endblock %}