<header class="bg-white">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
            <a href="/" class="-m-1.5 p-1.5">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Inicio</button>
            </a>
        </div>
        {% if user != undefined and user != None %}
        <div class="flex gap-x-12">
            <a href="/crear" class="text-sm font-semibold leading-6 text-gray-900">Subir un evento</a>
            <a href="/logs/login" class="text-sm font-semibold leading-6 text-gray-900">Logs inicio sesion</a>
        </div>
        {% endif %}

        <div class="lg:flex lg:flex-1 lg:justify-end">
            {% if user == undefined or user == None %}
            <button
                class="px-4 py-2 border flex gap-2 border-black hover:bg-slate-200 rounded-lg text-black hover:border-slate-400 hover:text-slate-900 hover:shadow transition duration-150" onclick="signIn()">
                <img class="w-6 h-6" src="https://www.svgrepo.com/show/475656/google-color.svg" loading="lazy" alt="google logo">
                <span>Iniciar Sesion con Google</span>
            </button>
            {% else %}
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                onclick="signOut()">Cerrar Sesion
            </button>
            {% endif %}
        </div>
    </nav>
    <hr />
    <span class="text-end w-full">
        {%if user != undefined and user != None %}
        <h2 class="text-xl mx-10 my-3">Hola: {{user.name}}</h2>
        {% endif %}
    </span>
</header>

<script>
    console.log("{{user}}")
</script>