{%block body%}
<div style="text-align: center;">
      <a href="/">Volver atrás</a>
</div>
<p id="lat" style="visibility: hidden; position: fixed;">{{ entity.latitud }}</p>
<p id="lon" style="visibility: hidden; position: fixed;">{{ entity.longitud }}</p>
{% include 'mapas/mapa.jinja' %}
{%endblock%}